@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;1,100;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 15pt;
}
html{
  scroll-behavior: smooth;
}
body{
    background-image: linear-gradient(
        to right,
        #3c5c84,
        #43688b,
        #375c7a,
        #345474,
        #2c516e,
        #274c64,
        #244464,
        #243f58,
        #1c374d
        
    );
    height: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: center;
    font-weight: 200;
  }
  
  li a, .weather {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    text-decoration: none;  
  }

  .icon{
    margin-top: 5pt;
  }

  .btnWeather{
    background-color: transparent;
    border: none;
  }
.hero{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-left: 10%;
  margin-right: 10%;
}  
.highlight, .word{
  font-family: 'Dancing Script', cursive;
  color: white;
}
.highlight{
  font-size: 45pt;
}
.word{
  font-size: 25pt;
}
.hero-image {
  width: 40%;
  height: auto;
}
.hero-text{
  text-align: center;
  padding-top: 10%;
}
.git{
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: 'Dancing Script', cursive;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all .3s;
  width: 20%;
  margin-left: 40%;
  margin-bottom: 40%;
  margin-top: 10pt;
}
.git:active, .git:hover{
  outline: 0;
}

.git span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
 }
 
 .git:hover span {
  background: none;
 }
 
 .git:active {
  transform: scale(0.9);
 }

 .about{
  display: flex;
  flex-direction: column;
  width: 65%;
  text-align: center;
  margin-left: 17.5%;
  margin-right: 17.5%;
  margin-top: 9%;
 }
 .pfp{
  width: 10%;
  height: auto;
  margin-left: 45%;
  margin-right: 45%;
  margin-bottom: 15pt;
  padding-top: 15pt;
 }

.about p{
  font-size: 17pt;
}
.up{
  font-size: 30px;
  background-color: white;
  color: black;
  width: 2%;
  margin-left: 95%;
  margin-right: 3%;
  height: 45px;
  opacity: 0.75;
  border: 1px solid #e7eae8;
  border-radius: 8px;
  cursor: pointer;
  animation: bounce_513 1s infinite;
}

@keyframes bounce_513 {
  0%,
    100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}








